/*----------------------------------------------------*/
/* Override select2 */
/*----------------------------------------------------*/
.compensate-input-wrapper {

  .select2-container--default .select2-selection--single  {
    border-radius: 0;
    border: 1px solid $color-primary;
    text-align: center;
  }

  select.error ~ .select2-container--default .select2-selection--single {
    border: 1px solid $color-error !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $color-primary;
  }

  // arrow-buttons
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: $color-primary transparent transparent transparent;
  }

  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent $color-primary transparent;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
  }

  // select-box
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $color-primary;
  }

  // height and padding
  .select2-selection__rendered {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .select2-container .select2-selection--single {
    height: 45px;
  }

  .select2-results__option {
    padding: 10px;
  }
}