@font-face {
  font-family: circular;
  src: url(../includes/assets/fonts/lineto-circular-pro-medium.ttf);
  font-weight: $font-light;
}

@font-face {
  font-family: circular;
  src: url(../includes/assets/fonts/lineto-circular-pro-book.ttf);
  font-weight: $font-normal;
}

@font-face {
  font-family: circular;
  src: url(../includes/assets/fonts/lineto-circular-pro-bold.ttf);
  font-weight: $font-bold;
}