//COLORS
$color-primary: #288C96;
$color-error: #ff3d00;
$color-black: #000000;
$color-gray: rgba(27, 27, 27, 0.2);
$color-white: #ffffff;
$color-background: #fcfaf8;

// FONT
$font-compensate: circular, sans-serif;

//FONT-SIZE
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-2xl: 22px;
$font-size-3xl: 24px;
$font-size-4xl: 30px;
$font-size-5xl: 32px;
$font-size-6xl: 64px;

//FONT-WEIGHT
$font-light: 300;
$font-normal: 400;
$font-bold: 700;